* {
  margin:0;
  padding:0;
}

body {
  font-family: Sans-Serif;
  background-image:url("jozel.jpg");
  background-size:cover;

 
  
}
background-image{
  opacity:0.3;
}
.container {
width:300px;
height:350px;
    padding:0px;
    position:absolute ;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background:rgba(255,255,255,0.1);
    text-align:center;
    border-radius:10px;
}
.login-form {
  border:none;
  height:300px;
 outline:none;
 box-shadow:0 0 4px rgba(255,255,255);
 border-radius:10px;
 padding-top:50px;
 color:#efff;
 
}
.login h1 {
  color:white;
  letter-spacing: 2px;
  
}
input{
  margin-top:20px;
  background:transparent;
  outline:none;
  padding:10px;
  font-size:15px;
  border-radius:20px;
  box-shadow:0 0 4px #efff;
  transition:box-shadow 0.5s ease;
  color:#efff;
}
.btn {
  width:50px;
  padding:5px 15px;
  margin:20px 100px;
  font-size:20px;
  background:transparent;
  border-radius:20px;
  box-shadow:0 0 4px #efff;
  cursor:pointer;
}
  
  input[placeholder]:focus {
  color:#efff;
}
input:focus {
  box-shadow:0 0 10px #efff;
}
.btn:hover {
  box-shadow:0 0 10px #efff;
}

.hr{
  color:blue;
}
